<html>
   <head>
       <title> Patria Grande blog</title>
   </head>
   <body>
      <div>
         <h1><a href="/">La Patria Grande Blog</a></h1>

      <div>
         <h2><a href="">11° Marcha de la Gorra</a></h2>
         <p>Somos lxs que nunca se van a callar, aunque sus Medios nos estigmaticen o nos borren.
 “El Estado mata, sus medios lo bancan, Nuestra Lucha avanza”</p>     </div>

     <div>
       <h3><a href ="">Disidencia Sexual,Diana Maffía</a></h3>
       <p> Esto abre un abismo entre un cuerpo y otro, que tratamos de suturar con el lenguaje. </p>
     </div>

    <br/>

    <p>La Patria Grande está de Pie, para todos los gorilas</p>
    <p>Junto a Chávez y Fidel,por el sueño de Bolivar</p>
    <p>Por los 30.000 también,por eso dejo la vida</p>
    <p> porque cuerpo hay que poner, para cambiar la Argentina</p>
  </body>
</html>
