<html>
   <head>
       <title> Patria Grande blog</title>
   </head>
   <body>
      <div>
         <h1><a href="/">La Patria Grande Blog</a></h1>
      </div>
    
    <em><strong>
    La Patria Grande está de Pie, para todos los gorilas
    Junto a Chávez y Fidel,por el sueño de Bolivar
    Por los 30.000 también,por eso dejo la vida
    Porque cuerpo hay que poner, para cambiar la Argentina
   </strong></em>

  <br />
  <br />

</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

  </body>
</html>
